#personalInfo {
    font-size: large;
    color: black;
    background:url("http://dreamatico.com/data_images/cloud/cloud-4.jpg")  ;
    font-family: 'Bangers' , cursive;
}
#centerText {
    background-color: rgb(115,28,29);
    overflow: hidden;
}
#hobbys {
    color: rgb(178,176,17);
    font-family: 'Bangers' , cursive;
    overflow: hidden;
}
body {

    background-color: rgb(115,28,28)
}
#userInfo {
}
label {
    border: rgb(115,28,29) double ;
}
#halo {
    font-size: large;
    width: 50%;
    height: 100%;
    transition: 4s;
}
#halo:hover {
    width: 75%;
    height: 100%;
}
#contactInfo {
    color: rgb(178,176,17);
    font-family: 'Bangers', cursive;
}
#CC {
    font-size: large;
    width: 50%;
    height: 100%;
    transition: 4s;
}
#CC:hover {
   width: 75%;
    height: 100%;
}
#centerText {
    text-decoration: underline;
    color:rgb(153,151,7);
}
header h1 {
    font-family:'Bangers' , cursive ;
    color: rgb(8,113,178);
}
#contactInfo {
    color:rgb(178,176,17)
}
#league {
    font-size: large;
    width: 50%;
    height: 100%;
    transition: 4s;
}
#league:hover {
    width: 75%;
    height: 100%;
}
#blizzard {
    width: 50%;
    height: 100%;
    transition: 4s;
}
#blizzard:hover {
    width: 75%;
    height: 100%;
}
#camp {
    width: 50%;
    height: 100%;
    transition: 4s;
}
#camp:hover {
    width: 75%;
    height: 100%;
}
#basketBall {
    width: 50%;
    height: 100%;
    transition: 4s;
}
#basketBall:hover {
    width: 75%;
    height: 100%;
}
#airSoft {
    width: 50%;
    height: 100%;
    transition: 4s;
}
#airSoft:hover {
   width: 75%;
    height: 100%;
}

.mainBodytext {
    font-family: 'Bangers' , cursive;
    color:rgb(153,151,7);
}
.myButton {
    -moz-box-shadow: 0px 10px 15px -7px #276873;
    -webkit-box-shadow: 0px 10px 15px -7px #276873;
    box-shadow: 0px 10px 15px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color:#599bb3;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    border:5px solid #29668f;
    display:inline-block;
    cursor:pointer;
    color:rgb(115,28,28);
    font-family: 'Bangers' , cursive;
    font-size:15px;
    font-weight:bold;
    padding:5px 46px;
    text-decoration:none;
    text-shadow:16px -6px 0px #3d768a;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color:#408c99;
}
.myButton:active {
    position:relative;
    top:1px;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }
}
div {
    overflow: hidden;
}
h4 {
    animation-duration: 5s;
    animation-name: slidein;


}
#centerText {
    animation-duration: 7s;
    animation-name: slidein;
}
h3 {
    animation-duration: 3s;
    animation-name: slidein;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.flex-item1 {
    background: rgb(115,28,28);
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: rgb(153,151,7);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

#flex-item2 {
     display: flex;
     flex-direction: column;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
 }
#flex-item2 img {
    margin: 0;
    width: 100%;
}
#flex-item3 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
}
#flex-item3 img {
    margin: 0;
    width: 100%;
}
#flex-item4 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
}
#flex-item4 img {
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 800px) {
    body {
        background-color: rgb(15,69,102);
    }

}
.modal-content {
    background-color: rgb(15,69,102)
}
#siteMap {
    font-family: 'Bangers' , cursive;
    color: rgb(178,176,17);
}
#blizzText {
    font-size: 40px;

}
#leagueText {
    font-size: 40px;
}
#haloText {
    font-size: 40px;
}
#ccText {
    font-size: 40px;
}
#campText {
    font-size: 40px;
}
#basketballText {
    font-size: 40px;
}
#airsoftText {
    font-size: 40px;
}
.resumeTxt {
    font-family: 'Bangers' , cursive;
    color: black;
    font-size: 20px;
}
.resumeHeaders {
    font-family: 'Bangers' , cursive;
    color: rgb(115,28,28);
    font-size: 40px;
    font-weight: bolder;
}
#eduTxt {
    font-size: xx-large;
}
#projectTxt {
    font-size: xx-large;
}